<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536281899166-h4fb6c2gs60lbhmmd5793m57c020uta9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536281899166-h4fb6c2gs60lbhmmd5793m57c020uta9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>536281899166-0h1hdcp0nmu69o66g6eqrkquh11n90j1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3ENTXA_o-LwVYC9SmG_Qws0c3Nf5oek8</string>
	<key>GCM_SENDER_ID</key>
	<string>536281899166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vocaday.vocadayApp</string>
	<key>PROJECT_ID</key>
	<string>vocaday-app-73f7c</string>
	<key>STORAGE_BUCKET</key>
	<string>vocaday-app-73f7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536281899166:ios:24b7b94226e39baf089b8f</string>
</dict>
</plist>